<footer class="text-center text-lg-start bg-white text-muted">
  <!-- border line -->
  <section
    class="justify-content-center justify-content-lg-between p-4 border-bottom"
  ></section>

  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <div>
              <img
                src="https://lh3.googleusercontent.com/jJMiU8Tg0y_3n_wbmHDK4duyOqxR7lz2f7Jzz2F2xUX6vIoSoiWb3c2ekgc9rj3MbtDKP6d405t3lPaiQEN1gYloV-1J25bYCjMmGRPcuh9yDgCkX9JHrTvCmsaCmSt_76vkS0YKJA=w268-h245-p-k"
                width="80"
                height="80"
                class="d-inline-block align-top"
              />
              <h4 class="align-center">College Finder</h4>
            </div>
          </h6>
          <p>We provide a simple and easy to use platform.</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a routerLink="data-attribution" class="text-reset"
              >Data Citation</a
            >
          </p>
          <!-- <p>
            <a href="#!" class="text-reset">About Us</a>
          </p> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-grayish"></i> Chicago, IL</p>
          <p>
            <i class="fas fa-envelope me-3 text-grayish"></i>
            collegefinder@example.com
          </p>
          <p><i class="fas fa-phone me-3 text-grayish"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3 text-grayish"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
