<div class="container">
  <!-- SEARCH BAR -->
  <div style="margin: auto; width: 70%; margin-top: 30px">
    <mat-form-field class="example-full-width" style="width: 100%">
      <span matPrefix> </span>
      <input
        type="text"
        matInput
        placeholder="Search"
        name="search"
        [(ngModel)]="searchText"
        (ngModelChange)="search()"
      />
      <button matSuffix mat-button><mat-icon>search</mat-icon></button>
    </mat-form-field>
    <br />
  </div>
  <!-- SEARCH BAR ENDS -->

  <!-- CARDS -->
  <div class="content">
    <h2 style="text-align: center">University Data Search</h2>
    <div fxLayout="row wrap  " fxLayoutGap="16px grid" class="elem-style">
      <div
        fxFlex="30%"
        fxFlex.xs="100%"
        fx.Flex.sm="80%"
        *ngFor="let college of filteredColleges"
      >
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title
              ><h2>{{ college.name }}</h2></mat-card-title
            >
            <mat-card-subtitle
              ><h3>{{ college.city }}</h3></mat-card-subtitle
            >
          </mat-card-header>

          <img
            class="card-img-top img-fluid"
            src="https://lh3.googleusercontent.com/yNzlgy3Ri3hoCTDBAcCnJcaXDlx6GSuZn9oucU7UR2pGjRP1GVZIS-qFkyHLbvScFhlystJ5ecxXVd-wBjuOdWvevMWy2gWs-y8ZHXB-4ymeUIdRR7zKsWsBykvJ_ESWU4SDfg2V9A=w600-h315-p-k"
            alt="Photo of campus"
          />

          <mat-card-content>
            <p class="first-line"><b>School Name: </b>{{ college.name }}</p>
            <p><b>City: </b>{{ college.city }}</p>
            <p><b>State: </b>{{ college.state }}</p>
            <p><b>Admission Rate: </b>{{ college.admissionRate | percent }}</p>
            <p *ngIf="college.aveSATScore == null">
              <b>Admission SAT Score: </b>Not Available
            </p>
            <p *ngIf="college.aveSATScore != null">
              <b>Admission SAT Score: </b>{{ college.aveSATScore }}
            </p>
            <p>
              <b>Cost of Attendance: </b>{{ college.annualCost | currency }}
            </p>

            <p *ngIf="college.isPublic == 1"><b>School Ownership: </b>Public</p>
            <p *ngIf="college.isPublic == 2">
              <b>School Ownership: </b>Private Non-Profit
            </p>
            <p *ngIf="college.isPublic == 3">
              <b>School Ownership: </b>Private For-Profit
            </p>
            <div *ngIf="show">
              <p>
                <b>Out of State Tuition Difference </b
                >{{ college.outOfStateTuition | currency }}
              </p>

              <p>
                <b>School Website: </b
                ><a
                  routerLink="college.website"
                  style="overflow: hidden; text-overflow: ellipsis"
                  >{{ college.website }}</a
                >
              </p>

              <p>
                <b>Price Calculator: </b
                ><a
                  fxLayout="row wrap  "
                  routerLink="college.priceCalculator"
                  style="overflow: hidden; text-overflow: ellipsis"
                  >{{ college.priceCalculator }}</a
                >
              </p>

              <h3><b>Programs Offered:</b></h3>
              <div class="scroll col-md-12">
                <p *ngIf="college.agriculture != 0">Agriculture</p>
                <p *ngIf="college.architecture != 0">Architecture</p>
                <p *ngIf="college.biological != 0">Biology</p>
                <p *ngIf="college.business_marketing != 0">
                  Business & Marketing
                </p>
                <p *ngIf="college.communication != 0">Communications</p>
                <p *ngIf="college.communicationsTechnology != 0">
                  Communications Technology
                </p>
                <p *ngIf="college.computer != 0">Computer Science</p>
                <p *ngIf="college.construction != 0">Construction</p>
                <p *ngIf="college.culinary != 0">Culinary</p>

                <p *ngIf="college.education != 0">Education</p>
                <p *ngIf="college.engineering != 0">Engineering</p>
                <p *ngIf="college.engineering_technology != 0">
                  Engineering & Technology
                </p>
                <p *ngIf="college.english != 0">English</p>
                <p *ngIf="college.ethnicCulturalGender != 0">
                  Ethnic, Cultural, and Gender Studies
                </p>
                <p *ngIf="college.family_consumer_science != 0">
                  Family Consumer Science
                </p>

                <p *ngIf="college.health != 0">Health</p>
                <p *ngIf="college.history != 0">History</p>
                <p *ngIf="college.resources != 0">Human Resources</p>
                <p *ngIf="college.humanities != 0">Humanities</p>

                <p *ngIf="college.language != 0">Language Studies</p>
                <p *ngIf="college.legal != 0">Law</p>
                <p *ngIf="college.library != 0">Library</p>

                <p *ngIf="college.mathematics != 0">Mathematics</p>
                <p *ngIf="college.mechanic_repair_technology != 0">
                  Mechanic Repair & Technology
                </p>
                <p *ngIf="college.military != 0">Military</p>
                <p *ngIf="college.multidiscipline != 0">
                  Multidisciplinary Studies
                </p>
                <p *ngIf="college.parks_recreation_fitness != 0">
                  Parks Recreational Fitness
                </p>
                <p *ngIf="college.precision_production != 0">
                  Precision Manufacturing & Illustration
                </p>
                <p *ngIf="college.philosophy_religious != 0">
                  Philosophy & Religion
                </p>
                <p *ngIf="college.physical_science != 0">Physical Sciences</p>
                <p *ngIf="college.psychology != 0">Psychology</p>
                <p *ngIf="college.public_administration_social_service != 0">
                  Public Administration & Social Services
                </p>
                <p *ngIf="college.science_technology != 0">
                  Science & Technology
                </p>
                <p *ngIf="college.security_law_enforcement != 0">
                  Security & Law Enforcement
                </p>
                <p *ngIf="college.social_science != 0">Social Sciences</p>
                <p *ngIf="college.theology_religious_vocation != 0">
                  Theology Religious Vocation
                </p>

                <p *ngIf="college.transportation != 0">
                  Transportation Management
                </p>
                <p *ngIf="college.visual_performing != 0">
                  Visual Performing Arts
                </p>
              </div>
            </div>
          </mat-card-content>
          <!-- (click)="addToList(college)" -->
          <mat-card-actions>
            <div class="button-1">
              <button
                class="blue-button"
                mat-raised-button
                (click)="
                  saveSchoolToList(
                    college.schoolId,
                    college.name,
                    college.city,
                    college.state,
                    college.annualCost,
                    college.aveSATScore
                  )
                "
              >
                ADD TO LIST
              </button>
            </div>
            <div class="button-2 even-cols">
              <button
                class="blue-button"
                mat-raised-button
                (click)="getMoreDetails()"
              >
                {{ buttonName }}
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
