
<div class=" shadow-4 rounded-3">
  <div class="">
    <div
      class="jumbotron shadow"
      style="
        background-image: url('https://lh3.googleusercontent.com/9RuZ3eE9OGrFDMEaiDe5hLCf6rl2RywHCkdIxeLZlkyJYx0hVTv6jJj3Cq_axuv5RnqbVQMvP23J3uX7MHtNA-daFgL06PP99-PhzoqkOsJvYV-YC9yYZwD3fdIbuj0VMdlsKYG8jQ=w2400');
        background-size: 100%;
      "
    >
      <div class="col-12 cover-img shadow">
        
        <h1 class=" display-4 text-white captivator title">Find Your College Match!</h1>
        <p class="lead text-light my-3">
          For high school students who need help finding the best college match,
          College Finder matches high school students with the best-fit
          colleges.
        </p>
      </div>
    </div>
  </div>
</div>



<div class="row row-cols-1 g-4">
  <div class="col-12 col-md-6">
    <div class="card shadow">
      <img
        class="card-img-top img-fluid"
        src="https://lh3.googleusercontent.com/gLlewpfmCCYXkb42qN0thuVe2N562kj14YxfTXkpB1jV6btd-vY6QtCxvwJRbRocr6H3t1BMNR10BS1dvf8g0lkTZbBC-X1UuuoxYZ48YjJkp_ok_jtUIXXpqTD2ksL2sxqHpPgHaw=w600-h315-p-k"
        alt="Card image cap"
      />
      <div class="card-body">
        <h3 class="card-title">Tools and Resources</h3>
        <p class="card-text">
          At College Finder, we know that high school is a stressful time. High
          school students are expected to perform well in various academic,
          sporting, and extracurricular activities, and are also expected to
          make wise, life-changing decisions such as pursuing higher education.
          For many, that task can be grueling. Sign up today and join the
          community of high school students beginning their college search
          journey.
        </p>
        <a routerLink="/signup">Start My Journey...</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow">
      <img
        class="card-img-top img-fluid"
        src="https://lh3.googleusercontent.com/yNzlgy3Ri3hoCTDBAcCnJcaXDlx6GSuZn9oucU7UR2pGjRP1GVZIS-qFkyHLbvScFhlystJ5ecxXVd-wBjuOdWvevMWy2gWs-y8ZHXB-4ymeUIdRR7zKsWsBykvJ_ESWU4SDfg2V9A=w600-h315-p-k"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="d-inline-block mb-2 text-warning font-weight-bold">
          Quick Seach
        </p>
        <h3 class="card-title">Match Your Wants and Needs</h3>
        <p class="card-text">
          Find schools that match your needs and stlye. We will help you build
          and refine your college search. With our simple and easy-to-use
          platform, we can make your college search much more manageable. Start
          your seach here!
        </p>
        <a routerLink="/colleges">Quick Search...</a>
      </div>
    </div>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////////// -->
