<!-- <button>Create Profile</button>
<div *ngIf="student">
  <p><span>Last Name: </span>{{ student.lastName }}</p>
  <p><span>Prefers: </span>{{ student.privatePublic }}</p>
  <p><span>Preferred US Region: </span>{{ student.regionUsa }}</p>
  <p><span>Preferred Community Size: </span>{{ student.locationSize }}</p>
  <p><span>Current SAT Score: </span>{{ student.satScore }}</p>
  <p>
    <span>Preferred Average Cost Of Attendance: </span
    >{{ student.maxCostOfAttendance }}
  </p>
</div>

<div *ngIf="!student">Student Not Found</div> -->
